@font-face {
  font-family: 'RexBold';
  src: url('../../fonts/RexBold.woff') format('woff'),
    url('../../fonts/RexBold.woff2') format('woff2');
  font-style: normal;
}
@font-face {
  font-family: 'RexBoldInline';
  src: url('../../fonts/RexBoldInline.woff') format('woff'),
    url('../../fonts/RexBoldInline.woff2') format('woff2');
  font-style: normal;
}
@font-face {
  font-family: 'RexLight';
  src: url('../../fonts/RexLight.woff') format('woff'),
    url('../../fonts/RexLight.woff2') format('woff2');
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSans-Bold.woff') format('woff'),
    url('../../fonts/OpenSans-Bold.ttf') format('ttf');

  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSans_Condensed-Regular.woff') format('woff'),
    url('../../fonts/OpenSans_Condensed-Regular.ttf') format('ttf');

  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSans_Condensed-SemiBold.woff') format('woff'),
    url('../../fonts/OpenSans_Condensed-SemiBold.ttf') format('ttf');

  font-style: normal;
  font-weight: 600;
}
